@page "/Identity/Account/LoginStarted"

@{
    ViewBag.Title = "You're almost in!";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>@ViewBag.Title</h1>
            <p>Please check your e-mail for the magic login link!</p>
        </div>
    </div>
</div>