@page "/Account/Login";
@model TastyBeans.Identity.Api.Pages.LoginPageModel;

@{
    ViewBag.Title = "Login";
}
<partial name="Shared/_NavigationBar"/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>@ViewBag.Title</h1>
            <p>Please provide your e-mail address to start the login process.</p>
            <div class="alert alert-danger" asp-validation-summary="All">
                <h4 class="alert-heading">Woops!</h4>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Input.Email"></label>
                    <input type="email" class="form-control" asp-for="Input.Email"/>
                </div> 
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>      
        </div>
    </div>
</div>