.with-top-nav {
    margin-top: 80px;
}

#blazor-error-ui {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
}

#blazor-error-ui .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}