@page "/"

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <img class="col-4" src="/images/logo.png"/>
                <div class="col-8">
                    <h1 class="display-5">The best way to get your caffeine!</h1>
                    <p>Welcome to Tasty Beans, the subscription-based coffee beans shop that makes it easy to get your hands on the best beans around!</p>
                    <NavLink href="/Register" class="btn btn-primary">Sign up now!</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>