@page "/RegistrationCompleted"

<div class="container">
    <div class="row">
        <h1>Registration completed</h1>
        <p>Thanks for subscribing. We're processing your information and will send you a confirmation in your inbox.</p>
    </div>
</div>