@page "/RegistrationCompleted"
<PageTitle>Registration completed - Tasty Beans</PageTitle>
<div class="container with-top-nav">
    <div class="row">
        <h1>Registration completed</h1>
        <p>Thanks for subscribing. We're processing your information and will send you a confirmation in your inbox.</p>
    </div>
</div>