<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-primary fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" href="https://recommend.coffee"><img src="/images/logo.png" height="24" /> TastyBeans</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
        </div>
    </div>
</nav>